{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="utf-8" />
<title>Aquaria | Blog</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Aquaria | Blog" name="description" />
<meta content="" name="keywords" />
<meta content="" name="author" />

{% endblock head %} {% block body %}
<div id="wrapper">
  
  <!-- content begin -->
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section
      id="subheader"
      class="text-light"
      data-bgimage="url({% static 'images/background/subheader.jpg' %}) top"
    >
      <div class="center-y relative text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Blog</h1>
              <p>Read Our Posts</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section aria-label="section">
      <div class="container">
        <div class="row">
          {% for posts in allPosts %}
          <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
              <div class="post-content">
                <div class="post-image">
                  <img alt="" src="{% static 'images/news/1.jpg' %}" />
                </div>
                <div class="post-text">
                  <span class="p-tagline">Tips &amp Tricks</span>
                  <h4>
                    <a href="/blog/{{posts.slug}}">{{posts.title}}<span></span></a>
                  </h4>
                  <p>{{posts.content | truncatechars:110}}</p>
                  <span class="p-date">{{posts.timestamp |date:'d-M'}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
          <div class="spacer-single"></div>

          <ul class="pagination">
            <li><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <!-- content close -->

  <a href="#" id="back-to-top"></a>
  {% endblock body %}
</div>
