{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="utf-8" />
<title>Aquaria | Blog</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Aquaria | Blog" name="description" />
<meta content="" name="keywords" />
<meta content="" name="author" />

{% endblock head %} {% block body %}
<div id="wrapper">
  <!--div id="topbar" class="text-light">
                <div class="container">
                    <div class="topbar-left sm-hide">
                        <span class="topbar-widget tb-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>                          
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </span>
                    </div>
                
                    <div class="topbar-right">
                        <div class="topbar-right">
                        <span class="topbar-widget"><a href="#">Privacy policy</a></span>
                        <span class="topbar-widget"><a href="#">Customer Support</a></span>
                        <span class="topbar-widget"><a href="#">FAQ</a></span>
                    </div> 
                    </div>  
                    <div class="clearfix"></div>
                </div>
            </div-->

  <!-- content begin -->
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section
      id="subheader"
      class="text-light"
      data-bgimage="url({% static 'images/background/subheader.jpg' %}) top"
    >
      <div class="center-y relative text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Blog</h1>
              <p>Read Our Posts</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section aria-label="section">
    <div class="container">
        <div class="row">
            {% if allPosts|length < 1 %}
        <div class="container"> <p><strong> Not Found </strong><br>
            Your search query : <b>"{{query}}"</b> did not match any documents. <br></p>

            <p> Suggestions:
            <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try more general keywords.</li>
            <li> Try fewer keywords.</li>
            <li> Try different keywords.</li>
            </ul>
            </p>
        </div>
            {% endif %}

        {% for posts in allPosts %}
        <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
            <div class="post-content">
                <div class="post-image">
                <img alt="" src="{% static 'images/news/1.jpg' %}" />
                </div>
                <div class="post-text">
                <span class="p-tagline">Tips &amp Tricks</span>
                <h4>
                    <a href="/blog/{{posts.slug}}">{{posts.title}}<span></span></a>
                </h4>
                <p>{{posts.content | truncatechars:110}}</p>
                <span class="p-date">{{posts.timestamp}}</span>
                </div>
            </div>
            </div>
        </div>
        {% endfor %} {% comment %}
        <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
            <div class="post-content">
                <div class="post-image">
                <img alt="" src="{% static 'images/news/2.jpg' %}" />
                </div>
                <div class="post-text">
                  <span class="p-tagline">Tips &amp Tricks</span>
                  <h4>
                    <a href="news-single.html"
                      >Tips For Homeowners Insurance<span></span
                    ></a>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <span class="p-date">October 28, 2020</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
              <div class="post-content">
                <div class="post-image">
                  <img alt="" src="{% static 'images/news/3.jpg' %}" />
                </div>
                <div class="post-text">
                  <span class="p-tagline">Tips &amp Tricks</span>
                  <h4>
                    <a href="news-single.html"
                      >Understanding Your Insurance Policy<span></span
                    ></a>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <span class="p-date">October 28, 2020</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
              <div class="post-content">
                <div class="post-image">
                  <img alt="" src="{% static 'images/news/4.jpg' %}" />
                </div>
                <div class="post-text">
                  <span class="p-tagline">Company</span>
                  <h4>
                    <a href="news-single.html"
                      >The Top 5 Insurance Companies<span></span
                    ></a>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <span class="p-date">October 28, 2020</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
              <div class="post-content">
                <div class="post-image">
                  <img alt="" src="{% static 'images/news/5.jpg' %}" />
                </div>
                <div class="post-text">
                  <span class="p-tagline">Company</span>
                  <h4>
                    <a href="news-single.html"
                      >Revolutionizing Customer's Insurance<span></span
                    ></a>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <span class="p-date">October 28, 2020</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb30">
            <div class="bloglist item">
              <div class="post-content">
                <div class="post-image">
                  <img alt="" src="{% static 'images/news/6.jpg' %}" />
                </div>
                <div class="post-text">
                  <span class="p-tagline">Company</span>
                  <h4>
                    <a href="news-single.html"
                      >What's Ahead for European Health Insurance<span></span
                    ></a>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <span class="p-date">October 28, 2020</span>
                </div>
              </div>
            </div>
          </div>
          {% endcomment %}

          <div class="spacer-single"></div>

          <ul class="pagination">
            <li><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <!-- content close -->

  <a href="#" id="back-to-top"></a>
  {% endblock body %}
</div>
