{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria | Health Insurance</title>
<meta content="Aquaria - Health Insurance" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}

<!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Business Insurance</h1>
                                <p>You &amp; your family covered.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pull-left" data-bgimage="url({% static 'images/background/9.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding">
                            <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">Business Insurance</span><br>
                                <h2>
                                    If you can dream it, we can cover it
                                </h2>
                                <div class="small-border sm-left"></div>

                                <p>Business insurance protects businesses from  financial loss or damage that occurs during the day-to-day running of a business. The policyholder receives cover for employee risks, property damage and liability. Such incidents can be a major setback for your business. In several cases, this leads to a partial or total closure of the business, resulting in loss of income.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb30">
                            <h2>Types of Business Insurance</h2>
                            <p>You &amp; your family covered.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Liability policies</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>General Liability Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Professional Liability policies</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Employee Insurance Policies</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Property Policies</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Cover for Loss of Income</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>  
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Product Liability Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Vehicle & Commercial Vehicle Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Business Interruption Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>  
                        </div>

                        <div>
                        </div>
            </section>

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pos-right" data-bgimage="url({% static 'images/background/10.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding pos-left">
                            <div class="col-md-6" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">Business Insurance</span><br>
                                <h2>
                                    Why Should You Cover Your Business with Insurance?                                </h2>
                                <div class="small-border sm-left"></div>

                                <p>It is vital that small business owners  carefully consider and assess the needs of their business as they are at great financial risk in the event of a loss. If the business owner feels they are unable to effectively assess the company's risk  and  need for insurance coverage, they should work with an experienced, licensed and reputable insurance agent. Business insurance protects  SMEs against fire, theft, professional liability, third party liability, workers compensation, medical expenses, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            {% include 'callus.html' %}

            <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                                <h5 class="id-color">Home Protected</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">People Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                                <h5 class="id-color">Money Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">Contract Signed</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                                <h5 class="id-color">Countries</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                                <h5 class="id-color">Staff Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
{% endblock body %}



