{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria | Health Insurance</title>
<meta content="Aquaria - Health Insurance" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}

<!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>General Insurance</h1>
                                <p>You &amp; your family covered.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pull-left" data-bgimage="url({% static 'images/background/9.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding">
                            <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">General Insurance</span><br>
                                <h2>
                                    All your protection under one roof.
                                </h2>
                                <div class="small-border sm-left"></div>

                                <p>A general insurance policy is a property insurance product that includes a number of general insurance policies. Common forms of general insurance in India are auto, Mediclaim, homeowner, marine, travel and others. The policy provides the policyholder with a payment based on the loss incurred as a result of a specific financial event. General insurance is insurance that is not categorized as life insurance.</p>
                            <p>Unlike life insurance, general insurance policies are not usually held for life. The usual period extends over the duration of a specific economic activity or a specific period of time. Most general insurance products are annual contracts. few products that have a long shelf life.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb30">
                            <h2>Types of General Insurance</h2>
                            <p>You &amp; your family covered.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Motor Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Travel Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Home Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Rural Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Mobile Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Commercial Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div>
                        </div>
            </section>

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pos-right" data-bgimage="url({% static 'images/background/10.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding pos-left">
                            <div class="col-md-6" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">General Insurance</span><br>
                                <h2>
                                    The Concept of <br>General Insurance
                          </h2>
                                <div class="small-border sm-left"></div>
        
                                <p>The concept of insurance applies to a large group of people who may be suffering from the same problem in the same region or condition. The money  collected as a premium can be viewed as a common fund and if you suffer a loss you will be paid from this pool.</p>
                                <p>Still confused about what general insurance is and what general insurance means? If yes, follow the example below: </p>
                                    <p> Assuming your family member has had a heart attack and needs a transplant immediately. At the same time, you have to pay the tuition fees for your daughter's first year. Now you have huge expenses to cover in a row and both  issues have the same priority. During this stressful time,  health insurance  for your family can be shared your burden and you can pay your daughter's fees with peace of mind from your savings. In this way, general insurance in India acts as your savior.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            {% include 'callus.html' %}

            <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                                <h5 class="id-color">Home Protected</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">People Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                                <h5 class="id-color">Money Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">Contract Signed</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                                <h5 class="id-color">Countries</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                                <h5 class="id-color">Staff Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
{% endblock body %}