{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria | Health Insurance</title>
<meta content="Aquaria - Health Insurance" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}

<!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Health Insurance</h1>
                                <p>You &amp; your family covered.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pull-left" data-bgimage="url({% static 'images/background/9.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding">
                            <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">Health Insurance</span><br>
                                <h2>
                                    No one can surely predict the future. But we can protect it.
                                </h2>
                                <div class="small-border sm-left"></div>

                                <p>Health insurance is a contract where an insurance company provides medical care to the insured in exchange for a 
                                    premium amount. Covers medical expenses for hospital stays, surgeries, day care treatments, etc. A health insurance 
                                    company reimburses  medical expenses or offers cashless treatments.

                                    It gives you financial security, especially when healthcare inflation rises. With rapidly changing 
                                    lifestyles, increasing pollution, emerging new diseases and expensive healthcare facilities, it is important to have  
                                    health insurance. These plans keep you from paying out-of-pocket expenses during times of sudden emergencies. Health 
                                    insurance policies are tailored to the needs of the individual and provide coverage for all types of health conditions. With 
                                    plans, you get timely and quality healthcare solutions without worrying about costs. Health insurance  also helps you 
                                    keep your savings intact and better plan your financial future.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb30">
                            <h2>Types of Health Insurance</h2>
                            <p>You &amp; your family covered.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Individual health insurance policy</h4>
                                    {% comment %} <p>Only the individual/insured person under the individual health insurance plan is entitled to the benefits 
                                        and can claim the sum assured under the policy.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Family floater health insurance policy</h4>
                                    {% comment %} <p>With family health insurance, you can cover all  family members in one tariff. The insured sum of the selected 
                                        tariff applies to all  insured family members. </p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Group/employee health insurance policy</h4>
                                    {% comment %} <p>Group/employee medical insurance covers the costs of your employees in the event of unforeseen medical emergencies.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Senior citizen health insurance policy </h4>
                                    {% comment %} <p>Those aged 60  and over can take advantage of senior  health insurance  designed to cover healthcare costs. Such health  plans usually require you to undergo a medical exam before you can use the plan.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Critical illness health insurance plans</h4>
                                    {% comment %} <p>Critical illness insurance policies provide the policyholder with a significant amount of compensation for expenses that fall within the scope of this plan.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Personal accident insurance</h4>
                                    {% comment %} <p>Personal Accident Insurance protects you and your family from expenses incurred in an accident that can 
                                        result in death, disability, injury, and other unforeseen situations.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div>
                        </div>
            </section>

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pos-right" data-bgimage="url({% static 'images/background/10.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding pos-left">
                            <div class="col-md-6" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">Health Insurance</span><br>
                                <h2>
                                    Key Benefits of <br>Health Insurance Plans
                                </h2>
                                <div class="small-border sm-left"></div>

                                <p>Health insurance plans provide policyholders with a variety of healthcare benefits 
                                    as part of the plan. Below are the main benefits of getting health insurance:</p>
                                <ul>
                                        <li>Hospitalization Expenses</li>
                                        <li>Pre & Post Hospitalization Expenses</li>
                                        <li>ICU Charges</li>
                                        <li>Ambulance Cost </li>
                                        <li>Cashless Treatments</li>
                                        <li>Day Care Procedures</li>
                                        <li>Pre-existing Diseases</li>
                                        <li>Medical Check-ups</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            {% include 'callus.html' %}

            <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                                <h5 class="id-color">Home Protected</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">People Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                                <h5 class="id-color">Money Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">Contract Signed</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                                <h5 class="id-color">Countries</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                                <h5 class="id-color">Staff Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
{% endblock body %}