{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria | Health Insurance</title>
<meta content="Aquaria - Health Insurance" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}

<!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Life Insurance</h1>
                                <p>You &amp; your family covered.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
  

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pull-left" data-bgimage="url({% static 'images/background/9.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding">
                            <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">Life Insurance</span><br>
                                <h2>
                                    Trust us for the rest of your life.
                                </h2>
                                <div class="small-border sm-left"></div>

                                <p>Life insurance is the best way to build wealth and secure the future of the family in the event of an unfortunate 
                                    death of the policyholder. Life insurance can be used through "Term plans," which provide life insurance for family 
                                    protection, or through "investment plans," which help build wealth  with financial security to meet individual 
                                    financial goals</p>

                                <p>Life is filled with risks and unforeseen events that can threaten your family's financial security. In these moments, 
                                    have you thought about life insurance  to protect your family? Find out about the right life insurance cover for your 
                                    family and benefit exclusively from numerous advantages with our products. Life insurance  is a safe way to provide 
                                    your family with financial security in the event of the unforeseen event of your death, disability or critical illness. 
                                    Take a look at some of the options you can consider based on your  life insurance needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb30">
                            <h2>Types of Life Insurance</h2>
                            <p>You &amp; your family covered.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Regular Term Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Term Return of Premium (TROP)</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Market Linked Systematic Investment Plan (ULIP)</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Whole life Insurance</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Child Plan</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-border f-icon-left f-icon-rounded">
                                <i class="icofont-checked bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>Retirement plan</h4>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div>
                        </div>
            </section>

            <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
                <div class="image-container col-md-6 pos-right" data-bgimage="url({% static 'images/background/10.jpg' %}) center">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding pos-left">
                            <div class="col-md-6" data-animation="fadeInRight" data-delay="200">
                                <span class="p-title invert">Life Insurance</span><br>
                                <h2>
                                    Key Benefits of <br>Life Insurance Plans</h2>
                                <div class="small-border sm-left"></div>

                                <p>Life insurance plans provide policyholders with a variety of benefits 
                                    as part of the plan. Below are the main benefits of getting life insurance:</p>
                                <ul>
                                        <li>Financial Security</li>
                                        <li>Death Benefit</li>
                                        <li>Maturity Benefits</li>
                                        <li>Guaranteed Returns</li>
                                        <li>Tax Benefits</li>
                                        <li>Retirement Planning</li>
                                        <li>Wealth Creation</li>
                                        <li>Loan Facility</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </section>

            {% include 'callus.html' %}

            <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                                <h5 class="id-color">Home Protected</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">People Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                                <h5 class="id-color">Money Saved</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                                <h5 class="id-color">Contract Signed</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                                <h5 class="id-color">Countries</h5>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                            <div class="de_count">
                                <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                                <h5 class="id-color">Staff Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
{% endblock body %}