{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria | Health Insurance</title>
<meta content="Aquaria - Health Insurance" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Term Insurance</h1>
                        <p>You &amp; your family covered.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
        <div class="image-container col-md-6 pull-left"
            data-bgimage="url({% static 'images/background/9.jpg' %}) center">
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                        <span class="p-title invert">Term Insurance</span><br>
                        <h2>
                            We only work for your future.
                        </h2>
                        <div class="small-border sm-left"></div>

                        <p>Term life insurance is the simplest and purest form of life insurance, offering financial
                            protection to the policyholder for a fixed period of time in exchange for fixed premiums.
                            Choosing and investing in the right term life insurance plan is of paramount importance for
                            anyone with dependents, and the right term life insurance plan offers security and value for
                            money. The premium for the best term insurance plan depends on several crucial factors
                            including age, gender, ppt, contract term, sum insured, etc. chosen by you and term of the
                            policy.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb30">
                    <h2>Benefits of Term Insurance</h2>
                    <p>You &amp; your family covered.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>High Life Cover at Affordable Premiums
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Protection from Illnesses
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Long Term Coverage
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Disability Benefits
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Income Options in case of Unfortunate Events</h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Protection Against Liabilities</h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Riders for Additional Benefits
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Multiple Premium Payment Options
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-border f-icon-left f-icon-rounded">
                        <i class="icofont-checked bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Tax Benefits
                            </h4>
                            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div>
                </div>
    </section>

    <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
        <div class="image-container col-md-6 pos-right"
            data-bgimage="url({% static 'images/background/10.jpg' %}) center">
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding pos-left">
                    <div class="col-md-6" data-animation="fadeInRight" data-delay="200">
                        <span class="p-title invert">Term Insurance</span><br>
                        <h2>
                            Who should Buy <br>
                             Term Insurance Plan?
                  </h2>
                        <div class="small-border sm-left"></div>

                        <p>Term insurance is one  of those types of products that can save you and your loved ones from  financial suffering caused by some unforeseen events like illness, disability or death. Anyone with financial dependents should consider getting insurance online.</p>
                        <ul>
                            <li>Parents</li>
                            <li>Young Professional</li>
                            <li>Newly Married</li>
                            <li>Taxpayers </li>
                            <li>Retired or those who are recently retired</li>
                            <li>Self-Employed People</li>
                            <li>Working Women</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </section>

    {% include 'callus.html' %}

    <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                        <h5 class="id-color">Home Protected</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                        <h5 class="id-color">People Saved</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                        <h5 class="id-color">Money Saved</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                        <h5 class="id-color">Contract Signed</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                        <h5 class="id-color">Countries</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                        <h5 class="id-color">Staff Member</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>
{% endblock body %}