{% block callus %}

<section class="bg-color text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><span class="id-color-secondary">Call us</span> for further information. We are here to help you <span class="id-color-secondary">anytime</span>.</h2>

                <p class="lead">We're available for 24 hours!</p>
            </div>

            <div class="col-md-6 text-lg-center text-sm-center">
                <div class="phone-num-big">
                    <i class="fa fa-phone id-color-secondary"></i>
                    <span class="pnb-text">
                        Call Us Now
                    </span>
                    <span class="pnb-num">
                        1 200 333 800
                    </span>
                </div>
                <a href="#" class="btn-custom capsule med">Contact Us</a>
            </div>
        </div>
    </div>
</section>
{% endblock callus %}
