{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria - Bussiness Loan</title>
<meta content="Aquaria - Bussiness Loan" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}


<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="text-light" data-bgimage="url({% static 'images/background/bl1.jpg' %}) top">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Bussiness Loan</h1>
                        <p>Your car covered.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    {% include 'loanusp.html'%}


    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="p-title invert">Profile</span><br>
                    <h2>
                        Focus on your business, your business loan worries are ours
                    </h2>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">Features & Benefit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                role="tab" aria-controls="pills-contact" aria-selected="false">Eligibility</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <p>Gone are the days when you had to worry about liquidity crunches and business money
                                problems.
                                Your business can show you ups and downs, but there are always solutions to unlucky
                                days. Business loans help you
                                to relieve your business from burdens and avoid future losses.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">

                            <div id="accordion-1" class="accordion">

                                <!-- Accordion item 1 -->
                                <div class="card">
                                    <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a10"
                                                aria-expanded="false" aria-controls="collapse-a10"
                                                class="d-block position-relative text-dark collapsible-link py-2">A loan
                                                for different customers
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a10" aria-labelledby="heading-a1" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">This loan is not limited to any group of clients or
                                                professionals. Whether self-employed professionals or future business
                                                tycoons or
                                                self-employed non- professionals, everyone can easily avail of new
                                                business loans. If you have been in business for at least 4 years then
                                                you are ready to start your business.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 2 -->
                                <div class="card">
                                    <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a11"
                                                aria-expanded="false" aria-controls="collapse-a11"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Hassle-free
                                                business loan
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a11" aria-labelledby="heading-a2" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">At Aquaria, we promise a loan process where you don't have to
                                                rush to understand the terms and hop from one office to another to get
                                                sanctioned. We offer business loans online where you are in your comfort
                                                zone and can easily apply for business loans without having to go from
                                                here to there.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 3 -->
                                <div class="card">
                                    <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a12"
                                                aria-expanded="false" aria-controls="collapse-a12"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Avail
                                                maximum possible benefit
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a12" aria-labelledby="heading-a3" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">We also allow you to get the most value with minimal
                                                paperwork and simple authorization. We do our best to make the process
                                                as easy as possible. Our goal is to get you on the maximum business loan
                                                eligibility so you can get the maximum loan you want to receive.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 4 -->
                                <div class="card">
                                    <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a13"
                                                aria-expanded="false" aria-controls="collapse-a13"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Your
                                                comfort, our priority!
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a13" aria-labelledby="heading-a3" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">Not only do we make sure to create favorable loan agreements
                                                for you, but we also respect your time and comfort. Because of this, we
                                                ensure that none of our clients have to bear the burden of contacting us
                                                at our premises. We also offer domestic services. So you can run the
                                                process without taking a break from your office or wasting your precious
                                                time at home.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            {% comment %} <p>We've carefully selected simple and easy-to-reach business loan eligibility
                                so you can meet most of them to get the best possible business financing. Here is a
                                table that contains various criteria such as age, type of employment, etc.</p>
                            {% endcomment %}
                            <div id="accordion-1" class="accordion">

                                <!-- Accordion item 1 -->
                                <div class="card">
                                    <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a4"
                                                aria-expanded="false" aria-controls="collapse-a4"
                                                class="d-block position-relative text-dark collapsible-link py-2">Self-employed</a>
                                        </h6>
                                    </div>
                                    <div id="collapse-a4" aria-labelledby="heading-a1" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">

                                            <ul>
                                                <li><strong>Age: </strong>23 years to 65 years
                                                </li>
                                                <li>Qualified Doctors (MBBS, MD, MS)</li>
                                                <li>CA</li>
                                                <li>Architect</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 2 -->
                                <div class="card">
                                    <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a5"
                                                aria-expanded="false" aria-controls="collapse-a5"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Self-employed
                                                Professionals.</a></h6>
                                    </div>
                                    <div id="collapse-a5" aria-labelledby="heading-a2" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <ul>
                                                <li><strong>Age: </strong>23 years to 65 years
                                                </li>
                                                <li>Business Owners
                                                </li>
                                                <li>Proprietorship
                                                </li>
                                                <li>Partners of Partnership Firm</li>
                                                <li>Promoter/Director of Closely Held Private and Public Limited
                                                    Companies</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Apart from this, you must have 4 years of business vintage or a minimum of one registered
                                property in your name. It could be your residential home or the office/shop where you
                                are running your business.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 offset-md-1 d-none d-lg-block d-xl-block text-center">
                    <img class="relative img-fluid" src="{% static 'images/background/bl2.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </section>



    <section id="section-about-us-2" class="no-padding text-light" data-bgcolor="#595A9E">
        <div class="image-container col-md-6 pull-left"
            data-bgimage="url({% static 'images/background/bl3.jpg' %}) center"></div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                        <span class="p-title bg-color-secondary">Business Loan</span><br>
                        <h2>
                            Document Required for Business Loan
                        </h2>
                        <div class="small-border sm-left"></div>

                        <p>Be it SME loans (small and medium-sized business business loans) or large business loans,
                            there are several mandatory documents that you must have if you wish to apply for a business
                            loan. The PAN card is mandatory.</p>

                        <ul>It include:
                            <li>Proof of Identity </li>
                            <li>Proof of Income </li>
                            <li>Proof of Residence </li>
                            <li>Co-Applicant
                            </li>
                            <li>Passport Size photographs</li>
                        </ul>
                        <p>Now that you know how easy it is to get business loans and run your business from Aquaria,
                            start planning your next business loan and let's do it right now for better business growth.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </section>

    <section aria-label="section" data-bgcolor="#ffffff">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2>FAQ</h2>
                    <div class="small-border"></div>
                </div>

                <div class="col-md-6">
                    <!-- Accordion -->
                    <div id="accordion-1" class="accordion">

                        <!-- Accordion item 1 -->
                        <div class="card">
                            <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a1"
                                        aria-expanded="false" aria-controls="collapse-a1"
                                        class="d-block position-relative text-dark collapsible-link py-2">When is time
                                        to update my coverage?</a></h6>
                            </div>
                            <div id="collapse-a1" aria-labelledby="heading-a1" data-parent="#accordion-1"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 2 -->
                        <div class="card">
                            <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a2"
                                        aria-expanded="false" aria-controls="collapse-a2"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">How
                                        often should I review my life insurance needs?</a></h6>
                            </div>
                            <div id="collapse-a2" aria-labelledby="heading-a2" data-parent="#accordion-1"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 3 -->
                        <div class="card">
                            <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a3"
                                        aria-expanded="false" aria-controls="collapse-a3"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">What
                                        happen to my insurance if I stop paying?</a></h6>
                            </div>
                            <div id="collapse-a3" aria-labelledby="heading-a3" data-parent="#accordion-1"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-6">
                    <!-- Accordion -->
                    <div id="accordion-2" class="accordion">

                        <!-- Accordion item 1 -->
                        <div class="card">
                            <div id="heading-b1" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-b1"
                                        aria-expanded="false" aria-controls="collapse-b1"
                                        class="d-block position-relative text-dark collapsible-link py-2">How much life
                                        insurance do i need?</a></h6>
                            </div>
                            <div id="collapse-b1" aria-labelledby="heading-b1" data-parent="#accordion-2"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 2 -->
                        <div class="card">
                            <div id="heading-b2" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-b2"
                                        aria-expanded="false" aria-controls="collapse-b2"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">What
                                        makes this company different form other?</a></h6>
                            </div>
                            <div id="collapse-b2" aria-labelledby="heading-b2" data-parent="#accordion-2"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 3 -->
                        <div class="card">
                            <div id="heading-b3" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-b3"
                                        aria-expanded="false" aria-controls="collapse-b3"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">Do I
                                        need a life insurance policy?</a></h6>
                            </div>
                            <div id="collapse-b3" aria-labelledby="heading-b3" data-parent="#accordion-2"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    {% include 'callus.html' %}

    <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                        <h5 class="id-color">Home Protected</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                        <h5 class="id-color">People Saved</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                        <h5 class="id-color">Money Saved</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                        <h5 class="id-color">Contract Signed</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                        <h5 class="id-color">Countries</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                        <h5 class="id-color">Staff Member</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>
{% endblock body %}








<p>The common documents required for an online personal loan approval are given below:</p>

                        <uL>
                            <li>Identity & Age Proof </li>
                            <li>Completely filled personal loan application with photograph </li>
                            <li>PAN Card</li>
                            <li>Residence proof - Passport driving licence, Voter ID, postpaid/landline bill, utility bills (electricity/water/gas)
                            </li>
                            <li>Bank statements for the last 3 months(preferably your salary account)</li>
                            <li>Salary Slips of last 3 months</li>
                        </ul>