{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Aquaria - Personal Loan</title>
<meta content="Aquaria - Personal Loan" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}


<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="text-light" data-bgimage="url({% static 'images/background/pl1.jpg' %}) top">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Personal Loan</h1>
                        <p>Your car covered.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    {% include 'loanusp.html'%}

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="p-title invert">Profile</span><br>
                    <h2>
                        With Priva, no more hassles &amp; no more worries
                    </h2>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">Features & Benefits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                role="tab" aria-controls="pills-contact" aria-selected="false">Eligibility</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <p>Personal loans are a form of unsecured loan popular to meet immediate needs. They are versatile in nature, so they can be used for various purposes such as weddings, home renovations, travel, and more. Also, there are no restrictions on the amount borrowed and they can be used for any purpose you want. In fact, a personal loan can help you build your credit faster than other forms of credit. This is because of the risk involved because it is unsecured.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div id="accordion-1" class="accordion">

                                <!-- Accordion item 1 -->
                                <div class="card">
                                    <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a10"
                                                aria-expanded="false" aria-controls="collapse-a10"
                                                class="d-block position-relative text-dark collapsible-link py-2">No collateral required
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a10" aria-labelledby="heading-a1" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">One of the advantages of an online personal loan is that it is unsecured. This means that you do not have to deposit any collateral for your loan. Although this can be a reason for your interest rate, you can get a low-interest personal loan easily if you meet the eligibility requirements.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 2 -->
                                <div class="card">
                                    <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a11"
                                                aria-expanded="false" aria-controls="collapse-a11"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Minimal Documentation
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a11" aria-labelledby="heading-a2" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">In the age of digitization, the verification and documentation process has now been shortened. This is true for an instant personal loans as they pay off quickly and require few documents for approval.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 3 -->
                                <div class="card">
                                    <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a12"
                                                aria-expanded="false" aria-controls="collapse-a12"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Easy Approval
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a12" aria-labelledby="heading-a3" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">You can get personal loans that can be approved quickly and easily. That is why it is the best choice in times of financial distress. In addition, the process has been digitized; thereby reducing the time in the verification process.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 4 -->
                                <div class="card">
                                    <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a13"
                                                aria-expanded="false" aria-controls="collapse-a13"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Multipurpose in nature
                                            </a></h6>
                                    </div>
                                    <div id="collapse-a13" aria-labelledby="heading-a3" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">A personal loan can be used for anything except investments and illegal activities. Aside from that, it is versatile in nature and can be used for anything. Other forms of credit, when taken out, serve a specific purpose and can only be used for the same purpose, for example, a mortgage loan is used to buy a house while an auto loan is used to buy a car. However, a personal loan can be taken out to offset immediate needs.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <p>Personal loans are issued by most banks/NBFCs, but with different eligibility requirements. However, there are certain criteria that are common to all financial institutions. The eligibility criteria for obtaining an online personal loan approval for employees and self-employed are:</p>
                            <div id="accordion-1" class="accordion">

                                <!-- Accordion item 1 -->
                                <div class="card">
                                    <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a4"
                                                aria-expanded="false" aria-controls="collapse-a4"
                                                class="d-block position-relative text-dark collapsible-link py-2">Salaried</a>
                                        </h6>
                                    </div>
                                    <div id="collapse-a4" aria-labelledby="heading-a1" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">

                                            <ul>
                                                <li><strong>Age: </strong>18 years to 60 years</li>
                                                <li><strong>Credit score: </strong>750 or above with a good credit history</li>
                                                <li><strong>Minimum Net Income (Monthly): </strong>₹15,000 to ₹20,000</li>
                                                <li><strong>Loan Amount: </strong>Up to ₹50 lacs depending on the credit profile</li>
                                                <li><strong>Work Experience: </strong>Employed at current company for at least 6/12 months</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 2 -->
                                <div class="card">
                                    <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a5"
                                                aria-expanded="false" aria-controls="collapse-a5"
                                                class="d-block position-relative collapsed text-dark collapsible-link py-2">Self-employed
                                                </a></h6>
                                    </div>
                                    <div id="collapse-a5" aria-labelledby="heading-a2" data-parent="#accordion-1"
                                        class="collapse">
                                        <div class="card-body p-4">
                                            <ul>
                                                <li><strong>Age: </strong>21 years to 65 years</li>
                                                <li><strong>Credit score: </strong>750 or above with a good credit history</li>
                                                <li><strong>Minimum Net Income (Monthly): </strong>₹15,000 to ₹20,000</li>
                                                <li><strong>Loan Amount: </strong>Up to ₹50 lacs depending on the credit profile</li>
                                                <li><strong>Work Experience: </strong>Business tenure of at least 3 years (continuous)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 offset-md-1 d-none d-lg-block d-xl-block text-center">
                    <img class="relative img-fluid" src="{% static 'images/background/pl2.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </section>



    <section id="section-about-us-2" class="no-padding text-light" data-bgcolor="#595A9E">
        <div class="image-container col-md-6 pull-left"
            data-bgimage="url({% static 'images/background/pl3.jpg' %}) center"></div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                        <span class="p-title bg-color-secondary">Personal Loan</span><br>
                        <h2>
                            Document Required for personal Loan
                        </h2>
                        <div class="small-border sm-left"></div>

                        <p>When you apply for a personal loan there are certain documents required for loan that are mostly based on the profession/occupation of the applicant. However, most of them are common for all. Let us take a look:</p>
                            <li>Identity & Age Proof </li>
                            <li>Completely filled personal loan application with photograph </li>
                            <li>PAN Card</li>
                            <li>Residence proof
                            </li>
                            <li>Bank statements for the last 3 months</li>
                            <li>Salary Slips of last 3 months</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </section>

    <section aria-label="section" data-bgcolor="#ffffff">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2>FAQ</h2>
                    <div class="small-border"></div>
                </div>

                <div class="col-md-6">
                    <!-- Accordion -->
                    <div id="accordion-1" class="accordion">

                        <!-- Accordion item 1 -->
                        <div class="card">
                            <div id="heading-a1" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a1"
                                        aria-expanded="false" aria-controls="collapse-a1"
                                        class="d-block position-relative text-dark collapsible-link py-2">When is time
                                        to update my coverage?</a></h6>
                            </div>
                            <div id="collapse-a1" aria-labelledby="heading-a1" data-parent="#accordion-1"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 2 -->
                        <div class="card">
                            <div id="heading-a2" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a2"
                                        aria-expanded="false" aria-controls="collapse-a2"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">How
                                        often should I review my life insurance needs?</a></h6>
                            </div>
                            <div id="collapse-a2" aria-labelledby="heading-a2" data-parent="#accordion-1"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 3 -->
                        <div class="card">
                            <div id="heading-a3" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-a3"
                                        aria-expanded="false" aria-controls="collapse-a3"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">What
                                        happen to my insurance if I stop paying?</a></h6>
                            </div>
                            <div id="collapse-a3" aria-labelledby="heading-a3" data-parent="#accordion-1"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-6">
                    <!-- Accordion -->
                    <div id="accordion-2" class="accordion">

                        <!-- Accordion item 1 -->
                        <div class="card">
                            <div id="heading-b1" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-b1"
                                        aria-expanded="false" aria-controls="collapse-b1"
                                        class="d-block position-relative text-dark collapsible-link py-2">How much life
                                        insurance do i need?</a></h6>
                            </div>
                            <div id="collapse-b1" aria-labelledby="heading-b1" data-parent="#accordion-2"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 2 -->
                        <div class="card">
                            <div id="heading-b2" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-b2"
                                        aria-expanded="false" aria-controls="collapse-b2"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">What
                                        makes this company different form other?</a></h6>
                            </div>
                            <div id="collapse-b2" aria-labelledby="heading-b2" data-parent="#accordion-2"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 3 -->
                        <div class="card">
                            <div id="heading-b3" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapse-b3"
                                        aria-expanded="false" aria-controls="collapse-b3"
                                        class="d-block position-relative collapsed text-dark collapsible-link py-2">Do I
                                        need a life insurance policy?</a></h6>
                            </div>
                            <div id="collapse-b3" aria-labelledby="heading-b3" data-parent="#accordion-2"
                                class="collapse">
                                <div class="card-body p-4">
                                    <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="bg-color text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2><span class="id-color-secondary">Call us</span> for further information. Priva customer care is
                        here to help you <span class="id-color-secondary">anytime</span>.</h2>
                    <p class="lead">We're available for 24 hours!</p>
                </div>

                <div class="col-md-6 text-lg-center text-sm-center">
                    <div class="phone-num-big">
                        <i class="fa fa-phone id-color-secondary"></i>
                        <span class="pnb-text">
                            Call Us Now
                        </span>
                        <span class="pnb-num">
                            1 200 333 800
                        </span>
                    </div>
                    <a href="#" class="btn-custom capsule med">Contact Us</a>
                </div>
            </div>
        </div>
    </section>

    <section id="section-fun-facts" class="pt60 pb60" data-bgcolor="#F2F6FE">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="0s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="4500" data-speed="3000">0</span></h3>
                        <h5 class="id-color">Home Protected</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".25s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="16" data-speed="3000">0</span>k</h3>
                        <h5 class="id-color">People Saved</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".4s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="4" data-speed="3000">0</span>m</h3>
                        <h5 class="id-color">Money Saved</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".6s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="52" data-speed="3000">0</span>k</h3>
                        <h5 class="id-color">Contract Signed</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay=".8s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="100" data-speed="3000">0</span>+</h3>
                        <h5 class="id-color">Countries</h5>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 wow fadeInUp mb-sm-30" data-wow-delay="1s">
                    <div class="de_count">
                        <h3><span class="timer" data-to="2" data-speed="3000">2</span>k</h3>
                        <h5 class="id-color">Staff Member</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>
{% endblock body %}
